// Google Fonts: Lato (regular, bold), Roboto (regular, bold)
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700");

@import "common/_variables.scss";

* {
  box-sizing: border-box;
}

body {
  color: $text-color;
  // font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h6 {
  font-family: "Lato", sans-serif !important;
}
a.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right{
  display: none !important;
}